---
interface Props {
  name: string;
  dataSrc?: string;
}

const { name = "test", dataSrc } = Astro.props;
---

<div
  id={ `donut-chart-${name}` }
  data-chart-donut
></div>

<script>
  import { Donut } from "../../scripts/charts/donut"

  const donutChart = new Donut()
  donutChart.init()
</script>