---
import { BRAND_NAME } from '../constants';

interface Props {

}

const {} = Astro.props;
---

<footer>
  <div class="container">
    <!-- Brand -->
     <article class="footer-brand">
        <!-- Logo -->
         <h2>{ BRAND_NAME }</h2>
     </article>

    <div role="navigation" aria-label="secondary">
      <ul>
        <!-- Items -->
      </ul>

      <ul>
        <!-- Items -->
      </ul>

      <ul>
        <!-- Items -->
      </ul>

      <!-- Company details -->
    </div>
  </div>
</footer>