---
interface Props {
  type?: string;
  action?: string;
  icon?: string;
  className?: string;
}

const { type = "button", action, className = "", icon = "abstract" } = Astro.props;
---

<button
  type={type}
  data-action={action}
  class:list={['icon-btn', className]}
>
  <i class={'gg-' + icon}></i>
</button>

<script>
  import { navAction } from '../scripts/actions'

  const iconActionEls = document.querySelectorAll('.icon-btn[data-action]')
  if (iconActionEls) {
    Array.from(iconActionEls, actionEl => {
      let action = actionEl.dataset.action ?? null
      if (action) {
        switch (action) {
          case 'nav':
            actionEl.addEventListener('click', () => {
              navAction();
            })
            break;
        
          default:
            console.warn(`No matching action found: ${action}`)
            break;
        }
      }
    })
  }
</script>