---
interface Props {
  type?: string;
  action: string;
  icon?: string;
  className?: string;
}

const { type = "button", action, className = "", icon = "abstract" } = Astro.props;
---

<button
  type={type}
  data-target-action={action}
  class:list={['icon-btn', className]}
>
  <i class={'gg-' + icon}></i>
</button>