---
import IconBtn from "./IconBtn.astro";

---

<nav
  role="navigation"
  aria-label="main"
 class="nav"
 >
  <div class="container">
    <!-- Logo -->
    
    <IconBtn action="nav" icon="menu-oreos" />

    <ul class="nav-items">
      <!-- Nav items -->
    </ul>
  </div>
</nav>