---
import { getCollection } from "astro:content";
import IconBtn from "./IconBtn.astro";

const serviceEntries = getCollection('services')
---

<nav
  role="navigation"
  aria-label="main"
 class="nav"
 >
  <div class="container">
    <!-- Logo -->
    
    <IconBtn action="nav" icon="menu-motion" />

    <ul class="nav-items" data-action-target="nav">
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/services">Services</a>

        <ul class="nav-items--nested">
          <li>
            <a href="/services/example-service">

            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style lang="scss">
  nav.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
</style>