---
import type { CallToAction, Image, Video } from '../../interfaces';
import CallToActionList from '../CallToActionList.astro';
import CopyMap from '../CopyMap.astro';

interface Props {
  title: string;
  image?: Image | null;
  video?: Video | null;
  copy: Array<string>;
  ctas: Array<CallToAction> | null;
}

const { title, image = null, video = null, copy, ctas = null } = Astro.props;
---

<section class="media-detail">
  <article class="container">
    { image && <img src={ image.src } alt={ image.alt } /> }

    { video && <video autoplay controls>
      <source src={ video.src } type="video/webm" />
    </video> }

    <div>
      <h2>{ title }</h2>

      <CopyMap copy={ copy } />

      { ctas && <CallToActionList ctas={ ctas } /> }
    </div>
  </article>
</section>