---
import type { CallToAction } from '../../interfaces';
import LinkBtn from '../LinkBtn.astro';

interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
  } | null;
  video?: {
    src: string;
    alt: string;
  } | null;
  copy: Array<string>;
  ctas: Array<CallToAction> | null;
}

const { title, image = null, video = null, copy, ctas = null } = Astro.props;
---

<section class="media-detail">
  <article class="container">
    { image && <img src={ image.src } alt={ image.alt } /> }

    { video && <video autoplay controls>
      <source src={ video.src } type="video/webm" />
    </video> }

    <div>
      <h2>{ title }</h2>

      { copy && copy.map(paragraph => {
        <p>
          { paragraph }
        </p>
      }) }

      { ctas && <ul>
        { ctas.map(cta => {
          <LinkBtn url={ cta.url } text={ cta.text } external={ cta.external } className={ cta.className } />
        }) }
      </ul> }
    </div>
  </article>
</section>